html {
	height: 100%;
	width: 100%;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}

body {
	margin: 0;
	background-color: #E2D9D9;
}

header {
	flex: 1 0 100%;
	height: 7em;
	padding: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #E56A6A;
	overflow: hidden;
	box-shadow: 0px 1px 5px gray;
}

header img {
	height: 100%;
	padding: 0.5em;
	margin-right: 1em;
}

h1 {
	font-size: 3em;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

@media (max-width: 700px) {
	h1 {
		font-size: 2em;
	}
}

h2 {
	font-size: 2em;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	margin: 0;
}

a {
	text-decoration: underline;
}

.row-container {
	margin: 1em;
	width: calc(100% - 2*1em);
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.column-container {
	max-width: 960px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#gallery {
	padding: 1em;
}

.gallery-slide {
	width: 100%;
	box-shadow: 0 0 3px 1px gray;
}

#register, #contact, .schedule {
	flex: 1 1 calc(50% - 2*1em);
	min-width: 250px;
	margin: 0 1em 0 1em;
}

.address {
	text-align: center;
}

#contact {
	text-align: center;
}

#copyright {
	font-size: 0.75em;
	padding: 0;
	padding-top: 1em;
	padding-bottom: 1em;
	margin: 0;
}

.schedule {
	margin: 1em;
}

.schedule table {
	border-collapse: collapse;
}

.schedule table caption {
	font-size: 1.25em;
	font-weight: bold;
	padding-bottom: 0.25em;
}

.schedule table th {
	border: 1px solid black;
	padding: 0.5em;
	width: 1%;
	white-space: nowrap;
	background-color: #CEC6C6;
}

.schedule table td {
	border: 1px solid black;
	padding: 0.5em;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
}