body
{
  padding: 0.5rem;
}

h1,
h2
{
  text-align: center;
}

img
{
  width: 100%;
  height: auto;
  box-shadow: 0 0 3px 1px gray;
}

#register,
#contact,
#schedule,
#faq
{
  text-align: center;
  margin-top: 1.5rem;

  ul
  {
    text-align: left;
  }
}

.hidden
{
  display: none;
}

#schedule
{
  img
  {
    max-height: 75vh;
    width: auto;
    max-width: 90vw;
  }
}

footer {
  text-align: center;
  margin-top: 1rem;
}