body {
  padding: 0.5rem;
}

h1,
h2
{
  text-align: center;
}

h2 {
  margin-top: 0.25rem;
}

img {
  width: 100%;
  height: auto;
  box-shadow: 0 0 3px 1px gray;
}

.hidden {
  display: none;
}

#register,
#contact,
#schedule {
  text-align: center;
}

#partials {
  img {
    height: 100%;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  div {
    height: 200px;
  }
}